.btn {
    height: 40px;
    width: 100px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: var(--font-size-sm);
}

.btn--primary {
    color: var(--color-white);
    border-radius: var(--border-radius);
    background-color: var(--color-black);
    border: 1px solid var(--color-black);
}

.btn--secondary {
    border-radius: var(--border-radius);
    color: var(--color-gray-font-active);
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
}